

<div class="Main-container">
    <div col-lg-12>
    <h1 style="margin-left: 36px;">Wellcome To The Libarary</h1>
        <div col-lg-6>
            <button class="button" (click)="onAdministration()">Administration</button>
            <button class="button" (click)="OnStudent()">Student</button>
        </div>
    </div>

</div>
<div *ngIf="clickStudent" class="Main-container">
  <h1>List of Books</h1>
  <table style="width:450px;" >
    <thead>
      <th>ID</th>
      <th>Book Name</th>
      <th>Author Name</th>
    </thead>
   <tbody>
    <tr *ngFor="let book of books" (click)="bookClicked(book)" >
      <td>{{ book.id}}</td>
      <td>{{ book.book_name }}</td>
      <td>{{ book.author_name }}</td>
    </tr>
   </tbody>
  </table>
</div>

<br>
<div *ngIf="clickAdministration" class="First-container" col-lg-12>
  <h3>SignIn</h3>
  <input style="height:20px;" [(ngModel)]="input.username" placeholder="Enter Username">
  <input style="height:20px;" [(ngModel)]="input.password" placeholder="Enter Password" type="password"><br>
  <button style="background-color: lightgreen;" (click)="loginUser()">Login User</button>
</div>

<div *ngIf="clickSignin" style="margin-left: 500px;">
  <h1>List of Books</h1>
  <table style="width:450px;" >
    <thead>
      <th>ID</th>
      <th>Book Name</th>
      <th>Author Name</th>
    </thead>
   <tbody>
    <tr *ngFor="let book of books" (click)="bookClicked(book)" >
      <td>{{ book.id}}</td>
      <td>{{ book.book_name }}</td>
      <td>{{ book.author_name }}</td>
    </tr>
   </tbody>
  </table>
  <br>
  <a>Book Name: <input type="text" [(ngModel)]="selectedBook.book_name"></a>
  <a style="margin-left:7px;">Author Name: <input type="text" [(ngModel)]="selectedBook.author_name"></a><br>
  <a>ISBN: <input type="text" [(ngModel)]="selectedBook.isbn"></a>
  <a style="margin-left:50px;">Category: <input type="text" [(ngModel)]="selectedBook.category"></a><br>
  <a>Quantity: <input type="text" [(ngModel)]="selectedBook.quantity"></a><br>
  <br>
  <button style="background-color: lightblue ;" (click)="updateBook()">Edit Book</button>
  <button style="background-color: lightgreen;" (click)="addBook()">Add Book</button>
  <button style="background-color: rgb(242, 57, 57);" (click)="deleteBook()">Delete Book</button>
</div>

